<html>
    <head>
        <title>Blog App</title>
        <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container" id="main">
                <div class="header item"><a href="/blogs"><i class="talk icon"></i>Blog Site</a></div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>
        <style>
            i.icon {
                font-size: 2em;
            }
            
            .container.main {
                margin: 7em;
            }
            #deleteF {
                display: inline;
            }
        </style>
        
